<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta
      name="Description"
      content="Browser based application to convert a GPX route into a FIT course for Garmin Edge"
    />
    <title>FIT Route Converter</title>
    <link rel="icon" href="images/logo-32.png" sizes="32x32" />
    <link rel="icon" href="images/logo-96.png" sizes="96x96" />
    <link rel="icon" href="images/logo-128.png" sizes="128x128" />
    <link rel="icon" href="images/logo-192.png" sizes="192x192" />
    <link rel="icon" href="images/logo-228.png" sizes="228x228" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css"
      integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.fullscreen@2.4.0/Control.FullScreen.css"
      integrity="sha384-73+xhNp0ojkCt/iDWKlGxfuMbKCt8OcstZj1N30Eo3XQTMu13XLkURBo8SrsLqS4"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/fit-route.css" />
  </head>

  <body class="d-flex flex-column">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-brand">
          <img class="rounded mr-1" src="images/logo-32.png" width="24" height="24" alt="" />
          FIT Route Converter
        </div>
        <div class="navbar-expand">
          <div class="navbar-nav">
            <a
              href="https://www.pyrites.org.uk/post/gpx-to-fit-conversion/"
              target="_blank"
              rel="noopener"
              title="Blog"
              class="nav-link active"
            >
              <i class="fas fa-blog"></i>
            </a>
            <a
              href="https://mastodon.social/@TechWrangler"
              target="_blank"
              rel="noopener me"
              title="Mastodon"
              class="nav-link active"
            >
              <i class="fab fa-mastodon"></i>
            </a>
            <a
              href="https://twitter.com/TechWrangler"
              target="_blank"
              rel="noopener"
              title="Twitter"
              class="nav-link active"
            >
              <i class="fab fa-twitter"></i>
            </a>
            <a
              href="https://gitlab.com/nwholloway/fit-route"
              target="_blank"
              rel="noopener"
              title="GitLab"
              class="nav-link active"
            >
              <i class="fab fa-gitlab"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <main role="main" id="main" class="flex-grow-1 d-flex flex-column">
      <div v-if="showInfo" class="container-fluid p-3">
        <p>
          <span>A browser based application to convert a GPX file into a FIT file.</span>
        </p>
        <ul>
          <li>Select the GPX file to be converted</li>
          <li>View the route on a map, along with the key statistics, and generated turns</li>
          <li>Amend the average speed to your desired value</li>
          <li>Download will save the course as a FIT file</li>
          <li>
            Connect Garmin as USB device, and place the FIT file in
            <span class="text-monospace">\GARMIN\NEWFILES</span>
          </li>
        </ul>
        <p>
          <span>
            I developed this to simplify the task of converting a GPX for an event into a course I could follow on my
            Garmin Edge 25.
          </span>
          <span>
            Although there are route planning sites that will perform the conversion, I found the results very variable.
          </span>
          <span>
            I also wanted to see if I could generate the binary file format using JavaScript within the browser.
          </span>
        </p>
        <p>
          <span>It is now possible to include basic navigation alerts in the FIT file.</span>
          <span>
            The turn information is limited due to being generated solely from the GPX points, and has no knowledge of
            road junctions.
          </span>
          <span>Preview the turns by enabling the layer, and choose to include in the FIT file download.</span>
        </p>
        <p>
          <span>Your data never leaves your computer as all processing is performed within your browser.</span>
          <span>You do not need to register to use this application.</span>
          <span>There are no adverts, no cookies, no use of local storage, or service workers.</span>
          <span>
            The source can be cloned from
            <a href="https://gitlab.com/nwholloway/fit-route" class="text-muted">GitLab</a>
          </span>
          .
        </p>
        <p>
          <span>The application works with the current versions of Chrome, Firefox, Safari, Edge and Opera.</span>
        </p>
        <noscript>
          <div class="alert alert-danger">
            This application requires a browser with JavaScript enabled, supporting ES modules and object spread
            properties
          </div>
        </noscript>
      </div>
      <div v-if="error" class="container">
        <error-message :message="error"></error-message>
      </div>
      <fit-route @show-info="onShowInfo" @error="onError" class="flex-grow-1"></fit-route>
    </main>

    <script
      src="https://unpkg.com/vue@3.2.40/dist/vue.global.prod.js"
      integrity="sha384-ELrpD0dhLcTnJv2Snc2EcDMR25eJoUJbHIHHc4q2+/Lm4LFEbR26r3+RlcYvqUU4"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js"
      integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s="
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://unpkg.com/leaflet.fullscreen@2.4.0/Control.FullScreen.js"
      integrity="sha384-TqFtkYBnYsrP2JCfIv/oLQxS9L6xpaIV9xnaI2UGMK25cJsTtQXZIU6WGQ7daT0Z"
      crossorigin="anonymous"
      defer
    ></script>

    <script type="module" src="js/spreadcheck.js"></script>
    <script type="module" src="js/app.js"></script>

    <script nomodule type="text/javascript" src="js/unsupported.js"></script>

    <script type="text/x-template" id="error-message-template">
      <div role="alert" class="alert alert-danger">{{ message }}</div>
    </script>

    <script type="text/x-template" id="empty-template"></script>

    <script type="text/x-template" id="file-upload-template">
      <form enctype="multipart/form-data" novalidate>
        <div class="file-upload d-flex justify-content-center align-items-center border bg-light w-75 mx-auto">
          <input v-if="!file" type="file" title=" " aria-label="Select GPX" accept=".gpx,application/gpx+xml,application/octet-stream" @change="onFilesChange($event.target.files)">
          <div v-if="!file" class="h4 font-weight-normal">
            Drop GPX here or click to browse
          </div>
          <div v-else d-flex justify-content-center align-items-center>
            <div class="text-center">{{ file.name }}</div>
            <div class="d-flex justify-content-around">
              <button type="button" class="btn btn-secondary m-2" @click.prevent="onCancel">Cancel</button>
              <button type="button" class="btn btn-primary m-2" @click.prevent="onSubmit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </script>

    <script type="text/x-template" id="fit-route-template">
      <div class="container-fluid d-flex flex-column">
        <template v-if="!gpxFile">
          <file-upload @submit="onFileUpload"></file-upload>
        </template>
        <template v-if="route">
        <div class="row flex-grow-1">
          <div class="col-auto bg-light">
            <form novalidate>
              <div>
                <div class="d-flex justify-content-center py-3">
                  <input class="btn-check" id="km" data-toggle="button" type="radio" value="km" v-model="units">
                  <label class="btn btn-outline-secondary w-25 mx-1" :class="{ active: units == 'km' }" for="km">km</label>
                  <input class="btn-check" id="miles" data-toggle="button" type="radio" value="miles" v-model="units">
                  <label class="btn btn-outline-secondary w-25 mx-1" :class="{ active: units == 'miles' }" for="miles">miles</label>
                </div>
              </div>
            </form>

            <route-info :route="route" :units="units" @name="setName" @duration="setDuration"></route-info>

            <form novalidate>
              <div class="mb-1">
                <label class="form-label">Include</label>
                <div class="form-check form-switch ms-2">
                  <input class="form-check-input" type="checkbox" id="includeTiming" v-model="includeTiming" :disabled="true">
                  <label class="form-check-label" for="includeTiming">Timing</label>
                </div>
                <div class="form-check form-switch ms-2">
                  <input class="form-check-input" type="checkbox" id="includeTurns" v-model="includeTurns">
                  <label class="form-check-label" for="includeTurns">Turn Alerts</label>
                </div>
              </div>
            </form>

            <div class="mt-4 d-flex flex-column">
              <div class="d-flex justify-content-around">
                <button class="btn btn-secondary m-2" @click="onClear">Clear</button>
                <button class="btn btn-primary m-2" @click="onFitDownload">Download as FIT</button>
              </div>
              <a ref="downloadAnchor" class="d-none" download="COURSE.fit" href="#"></a>
            </div>
          </div>
          <div class="col p-0 border">
            <route-map :route="route" :units="units"></route-map>
          </div>
        </div>
      </template>
      </div>
    </script>

    <script type="text/x-template" id="route-info-template">
      <form novalidate>
        <div class="d-flex flex-column">
          <div class="mb-3">
            <label class="form-label" for="routeName">Name</label>
            <input id="routeName" type="text" v-model="routeName" @keydown.enter.prevent class="form-control text-primary" data-lpignore="true">
            <i v-if="routeNameTooLong" class="fas fa-exclamation-triangle text-warning input-feedback" title="Name will be truncated on Garmin device" aria-hidden="true"></i>
          </div>

          <div class="mb-3">
            <label class="form-label" for="distance">Distance</label>
            <div class="input-group">
              <input id="distance" type="text" v-model="distance" readonly class="form-control text-primary bg-light">
              <div class="input-group-text">{{ units }}</div>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="speed">Average Speed</label>
            <div class="input-group">
              <input id="speed" type="text" v-model="avgSpeedField" class="form-control text-primary" data-lpignore="true">
              <div class="input-group-text">{{ speedUnits }}</div>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="time">Goal Time</label>
            <div class="input-group">
              <input id="time" type="text" v-model="goalTime" readonly class="form-control text-primary bg-light">
              <span class="input-group-text">h:mm:ss</span>
            </div>
          </div>
        </div>
      </form>
    </script>

    <script type="text/x-template" id="route-map-template">
      <div id="route-map" class="bg-light h-100"></div>
    </script>
  </body>
</html>
